{:paths ["src" "resources"]
 :deps {org.apache.poi/poi {:mvn/version "4.1.2"}
        org.apache.poi/poi-ooxml {:mvn/version "4.1.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
