{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps {; Components
                               poly/parser {:local/root "components/parser"}
                               poly/gmail {:local/root "components/gmail"}
                               poly/oauth {:local/root "components/oauth"}
                               poly/file {:local/root "components/file"}
                               poly/file-reader {:local/root "components/file-reader"}
                               poly/sms {:local/root "components/sms"}
                               poly/inference-engine {:local/root "components/inference-engine"}
                               poly/util {:local/root "components/util"}
                               poly/hledger {:local/root "components/hledger"}

                               ; Bases
                               poly/desktop {:local/root "bases/desktop"}

                               org.clojure/clojure {:mvn/version "1.11.1"}

                               ; Development Deps
                               djblue/portal {:mvn/version "0.51.1"}}}

            :test {:extra-paths ["components/parser/test"
                                 "components/gmail/test"
                                 "components/oauth/test"
                                 "components/file/test"
                                 "components/file-reader/test"
                                 "components/sms/test"
                                 "components/inference-engine/test"
                                 "components/util/test"
                                 "components/hledger/test"]}

            :cider-clj {:extra-deps {nrepl/nrepl {:mvn/version,"1.0.0"},
                                     cider/cider-nrepl {:mvn/version "0.45.0"}}
                        :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.18"}}}}}
