{:paths ["src" "resources"]
 :deps {io.github.camsaul/toucan2 {:mvn/version "1.0.537"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.909"}
        org.xerial/sqlite-jdbc {:mvn/version "3.39.2.1"}
        clj-time/clj-time {:mvn/version "0.15.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
